<body id="body-pd">

    <div class="l-navbar" id="nav-bar">
        <nav class="nav">
            <div> <a href="#" class="nav_logo"> <i class="fas fa-chart-bar"></i> <span class="nav_logo-name">BBBootstrap</span> </a>
                <div class="nav_list"> <a href="#" class="nav_link active"> <i class="fas fa-chart-bar"></i> <span class="nav_name">Dashboard</span> </a> <a href="#" class="nav_link"> <i class="fas fa-chart-bar"></i> <span class="nav_name">Users</span> </a> <a href="#" class="nav_link"> <i class="fas fa-chart-bar"></i> <span class="nav_name">Messages</span> </a> <a href="#" class="nav_link"> <i class="fas fa-chart-bar"></i> <span class="nav_name">Bookmark</span> </a> <a href="#" class="nav_link"> <i class="fas fa-chart-bar"></i> <span class="nav_name">Files</span> </a> <a href="#" class="nav_link"> <i class="fas fa-chart-bar"></i> <span class="nav_name">Stats</span> </a> </div>
            </div> 
        </nav>
    </div>
</body>
