@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');


body {
  background: linear-gradient(to right, #e6e9ee, #0b0374);
    min-height: 90vh
}

.container .row{
    padding-top: 30px;


}







.container .row .card {
    min-width: 250px;
    max-width: 270px;
    height: 320px;
    margin: 30px;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    backdrop-filter: blur(5px);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    cursor: pointer;
    position: relative
}

input[type="checkbox"] {
    position: absolute;
    width: 20px;
    opacity: 0;
    z-index: 200;
    right: 10px;
    top: 10px;
    cursor: pointer
}

.fas.fa-heart {
    position: absolute;
    cursor: pointer;
    right: 10px;
    top: 10px;
    font-size: 1.3rem;
    color: #ffffff80
}


.container .row .card .card-body {
    padding: 1rem 1.2rem;
    color: #fff
}

@keyframes heart {
    0% {
        transform: scale(.50)
    }

    20% {
        transform: scale(1)
    }

    100% {
        transform: scale(1)
    }
}

input[type="checkbox"]:checked+.fas.fa-heart {
    will-change: font-size;
    color: #e2264d;
    animation: heart 1s cubic-bezier(.17, .89, .32, 1.49)
}

.container .row .card .card-body .card-img img {
    width: 80px;
    height: 100px;
    object-fit: contain
}

.container .row .card .card-body .name.h5 {
    margin: 0
}

.container .row .card .card-body .price {
    font-size: 1.3rem;
    font-weight: 700;
    color: #6ef5bf
}

.container .row .card .card-body .btn.btn-primary {
    background: linear-gradient(145deg, #0685ac, #36aa7c 50%, #0685ac);
    border: none;
    font-size: 600
}

.container .row .card .card-body .btn.btn-primary:hover {
    background: linear-gradient(110deg, #0685ac, #05ff9b 50%, #0685ac)
}