
<body>
       <div class="container">
        <app-sidebar></app-sidebar>
        <div class="row">
            <div class="col-md-3 d-flex justify-content-around">
                <div class="card"> <input class="toggle-heart" type="checkbox"> <span class="fas fa-heart"></span>
                    <div class="card-body text-center">
                        <div class="card-img py-2"> <img src="https://www.freepnglogos.com/uploads/sprite-png-logo/box-sprite-bottle-png-images-logo-5.png" alt=""> </div>
                        <div class="name h5">Random Soda</div>
                        <div class="price">$5.00</div>
                        <div class="description"> Refreshing minty taste soda with a hint of ginger </div>
                        <div class="btn btn-primary my-2 mt-3">Add to card</div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 d-flex justify-content-around">
                <div class="card"> <input class="toggle-heart" type="checkbox"> <span class="fas fa-heart"></span>
                    <div class="card-body text-center">
                        <div class="card-img py-2"> <img src="https://www.freepnglogos.com/uploads/sprite-png-logo/box-sprite-bottle-png-images-logo-5.png" alt=""> </div>
                        <div class="name h5">Random Soda</div>
                        <div class="price">$5.00</div>
                        <div class="description"> Refreshing minty taste soda with a hint of ginger </div>
                        <div class="btn btn-primary my-2 mt-3">Add to card</div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 d-flex justify-content-around">
                <div class="card"> <input class="toggle-heart" type="checkbox"> <span class="fas fa-heart"></span>
                    <div class="card-body text-center">
                        <div class="card-img py-2"> <img src="https://www.freepnglogos.com/uploads/sprite-png-logo/box-sprite-bottle-png-images-logo-5.png" alt=""> </div>
                        <div class="name h5">Random Soda</div>
                        <div class="price">$5.00</div>
                        <div class="description"> Refreshing minty taste soda with a hint of ginger </div>
                        <div class="btn btn-primary my-2 mt-3">Add to card</div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 d-flex justify-content-around">
                <div class="card"> <input class="toggle-heart" type="checkbox"> <span class="fas fa-heart"></span>
                    <div class="card-body text-center">
                        <div class="card-img py-2"> <img src="https://www.freepnglogos.com/uploads/sprite-png-logo/box-sprite-bottle-png-images-logo-5.png" alt=""> </div>
                        <div class="name h5">Random Soda</div>
                        <div class="price">$5.00</div>
                        <div class="description"> Refreshing minty taste soda with a hint of ginger </div>
                        <div class="btn btn-primary my-2 mt-3">Add to card</div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 d-flex justify-content-around">
                <div class="card"> <input class="toggle-heart" type="checkbox"> <span class="fas fa-heart"></span>
                    <div class="card-body text-center">
                        <div class="card-img py-2"> <img src="https://www.freepnglogos.com/uploads/sprite-png-logo/box-sprite-bottle-png-images-logo-5.png" alt=""> </div>
                        <div class="name h5">Random Soda</div>
                        <div class="price">$5.00</div>
                        <div class="description"> Refreshing minty taste soda with a hint of ginger </div>
                        <div class="btn btn-primary my-2 mt-3">Add to card</div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 d-flex justify-content-around">
                <div class="card"> <input class="toggle-heart" type="checkbox"> <span class="fas fa-heart"></span>
                    <div class="card-body text-center">
                        <div class="card-img py-2"> <img src="https://www.freepnglogos.com/uploads/sprite-png-logo/box-sprite-bottle-png-images-logo-5.png" alt=""> </div>
                        <div class="name h5">Random Soda</div>
                        <div class="price">$5.00</div>
                        <div class="description"> Refreshing minty taste soda with a hint of ginger </div>
                        <div class="btn btn-primary my-2 mt-3">Add to card</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>