<div id="demo" class="carousel slide" data-ride="carousel">

    <!-- Indicators -->
    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1"></li>
      <li data-target="#demo" data-slide-to="2"></li>
    </ul>
  
    <!-- The slideshow -->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/img/car1.jpg" alt="Audi" width="1550" height="690">
        <div class="carousel-caption">
            <h3>Audi</h3>
            <p>On Fire!!</p>
          </div>
      </div>
      <div class="carousel-item">
        <img src="assets/img/car2.jpg" alt="lamborghini" width="1550" height="690">
        <div class="carousel-caption">
            <h3>lamborghini</h3>
            <p>Blue Crazy </p>
          </div>
      </div>
      <div class="carousel-item">
        <img src="assets/img/car3.jpg" alt="Citroen" width="1550" height="690">
        <div class="carousel-caption">
            <h3>Citroen</h3>
            <p>Most Farious</p>
          </div>
      </div>
    </div>
  
    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
    </div>
    <br>
    <br>


  <div class="container-fluid">
    <div class="row row-cols-3">
      
      <div class="col">
        <div class="chart-wrapper ">
          <div style="display: block">
          <canvas baseChart 
          [data]="pieChartData" 
          [labels]="pieChartLabels" 
          [chartType]="pieChartType"
          [options]="pieChartOptions"
          [plugins]="pieChartPlugins"
          [legend]="pieChartLegend"
          [colors]="color1">
          </canvas>
        </div>
        </div>

      </div>
      <div class="col">
        <div class="chart-wrapper">
          <canvas baseChart 
          [data]="doughnutChartData"
          [labels]="doughnutChartLabels"
          [chartType]="doughnutChartType"
          [colors]="color2">
          </canvas>
        </div>

      </div>
      <div class="col">
        <div class="chart-wrapper">
          <canvas baseChart
          [datasets]="radarChartData"
          [options]="radarChartOptions"
          [labels]="radarChartLabels"
          [chartType]="radarChartType"
          [colors]="color3">
          </canvas>
        </div>

      </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <div class="row row-cols-1">
      <div class="col">
        <div class="chart-wrapper">
          <canvas baseChart 
          [datasets]="barChartData"
          [labels]="barChartLabels"
          [options]="barChartOptions"
          [plugins]="barChartPlugins"
          [legend]="barChartLegend"
          [chartType]="barChartType"
          [colors]="color4">
          </canvas>
        </div>

      </div>
    </div>

  </div>
  

  <!--https://www.remotestack.io/chart-js-in-angular-with-ng2-charts-examples/-->