<body>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-11 col-sm-9 col-md-7 col-lg-6 col-xl-5 text-center p-0 mt-3 mb-2">
                <div class="card px-0 pt-4 pb-0 mt-3 mb-3">
                    <h2 id="heading">Créez votre compte utilisateur</h2>
                    <p>Remplissez tous les champs du formulaire pour passer à l'étape suivante</p>
                    <form id="msform">
                        <!-- progressbar -->
                        <ul id="progressbar">
                            <li class="active" id="account"><strong>Compte</strong></li>
                            <li id="personal"><strong>Personnel(le)</strong></li>
                            <li id="payment"><strong>Image</strong></li>
                            <li id="confirm"><strong>Finir</strong></li>
                        </ul>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                        </div> <br> <!-- fieldsets -->
                        <fieldset>
                            <div class="form-card">
                                <div class="row">
                                    <div class="col-7">
                                        <h2 class="fs-title">Information sur le compte:</h2>
                                    </div>
                                    <div class="col-5">
                                        <h2 class="steps">Étape 1 - 4</h2>
                                    </div>
                                </div> <label class="fieldlabels">Email: *</label> <input type="email" name="email" placeholder="Email Id" /> <label class="fieldlabels">Nom d'utilisateur: *</label> <input type="text" name="uname" placeholder="Nom d'utilisateur" /> <label class="fieldlabels">Mot de passe : *</label> <input type="password" name="pwd" placeholder="Mot de passe" /> <label class="fieldlabels">Confirmer Mot de passe: *</label> <input type="password" name="cpwd" placeholder="Confirmer Mot de passe" />
                            </div> <input type="button" name="next" class="next action-button" value="Suivant" />
                        </fieldset>
                        <fieldset>
                            <div class="form-card">
                                <div class="row">
                                    <div class="col-7">
                                        <h2 class="fs-title">Renseignements personnels:</h2>
                                    </div>
                                    <div class="col-5">
                                        <h2 class="steps">Étape 2 - 4</h2>
                                    </div>
                                </div> <label class="fieldlabels">Prénom: *</label> <input type="text" name="fname" placeholder="Prénom" /> <label class="fieldlabels">Nom: *</label> <input type="text" name="lname" placeholder="Nom" /> <label class="fieldlabels">Contact No.: *</label> <input type="text" name="phno" placeholder="Contact No." /> <label class="fieldlabels">Alterner Contact No.: *</label> <input type="text" name="phno_2" placeholder="Alterner Contact No" />
                            </div> <input type="button" name="next" class="next action-button" value="Suivant" /> <input type="button" name="previous" class="previous action-button-previous" value="Précédent" />
                        </fieldset>
                        <fieldset>
                            <div class="form-card">
                                <div class="row">
                                    <div class="col-7">
                                        <h2 class="fs-title">Téléchargement d'image :</h2>
                                    </div>
                                    <div class="col-5">
                                        <h2 class="steps">Étape 3 - 4</h2>
                                    </div>
                                </div> <label class="fieldlabels">Télécharger votre photo:</label> <input type="file" name="pic" accept="image/*"> <label class="fieldlabels">Télécharger la photo de signature:</label> <input type="file" name="pic" accept="image/*">
                            </div> <input type="button" name="next" class="next action-button" value="Submit" /> <input type="button" name="previous" class="previous action-button-previous" value="Précédent" />
                        </fieldset>
                        <fieldset>
                            <div class="form-card">
                                <div class="row">
                                    <div class="col-7">
                                        <h2 class="fs-title">Finir:</h2>
                                    </div>
                                    <div class="col-5">
                                        <h2 class="steps">Étape 4 - 4</h2>
                                    </div>
                                </div> <br><br>
                                <h2 class="purple-text text-center"><strong>SUCCÈS !</strong></h2> <br>
                                <div class="row justify-content-center">
                                    <div class="col-3"> <img src="https://i.imgur.com/GwStPmg.png" class="fit-image"> </div>
                                </div> <br><br>
                                <div class="row justify-content-center">
                                    <div class="col-7 text-center">
                                        <h5 class="purple-text text-center">Vous vous êtes inscrit avec succès</h5>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>





  <!--https://bbbootstrap.com/snippets/multi-step-form-wizard-30467045/-->

